In [1]:
library(tidyverse)
# install.packages("tidyverse")

# This one line of code loads the core tidyverse; packages which you will use in almost every data analysis.

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## STEP 1: THE DATA

In [18]:
# List of available datasets in R

data()

In [32]:
# head of select dataset

head(mpg, 10)

   manufacturer model      displ year cyl trans      drv cty hwy fl class
1  audi         a4         1.8   1999 4   auto(l5)   f   18  29  p  compact
2  audi         a4         1.8   1999 4   manual(m5) f   21  29  p  compact
3  audi         a4         2.0   2008 4   manual(m6) f   20  31  p  compact
4  audi         a4         2.0   2008 4   auto(av)   f   21  30  p  compact
5  audi         a4         2.8   1999 6   auto(l5)   f   16  26  p  compact
6  audi         a4         2.8   1999 6   manual(m5) f   18  26  p  compact
7  audi         a4         3.1   2008 6   auto(av)   f   18  27  p  compact
8  audi         a4 quattro 1.8   1999 4   manual(m5) 4   18  26  p  compact
9  audi         a4 quattro 1.8   1999 4   auto(l5)   4   16  25  p  compact
10 audi         a4 quattro 2.0   2008 4   manual(m6) 4   20  28  p  compact

In [ ]:
# check the shape of the data

dim(mpg)

In [30]:
# check the structure of the data

str(mpg)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	234 obs. of  11 variables:
 $ manufacturer: chr  "audi" "audi" "audi" "audi" ...
 $ model       : chr  "a4" "a4" "a4" "a4" ...
 $ displ       : num  1.8 1.8 2 2 2.8 2.8 3.1 1.8 1.8 2 ...
 $ year        : int  1999 1999 2008 2008 1999 1999 2008 1999 1999 2008 ...
 $ cyl         : int  4 4 4 4 6 6 6 4 4 4 ...
 $ trans       : chr  "auto(l5)" "manual(m5)" "manual(m6)" "auto(av)" ...
 $ drv         : chr  "f" "f" "f" "f" ...
 $ cty         : int  18 21 20 21 16 18 18 18 16 20 ...
 $ hwy         : int  29 29 31 30 26 26 27 26 25 28 ...
 $ fl          : chr  "p" "p" "p" "p" ...
 $ class       : chr  "compact" "compact" "compact" "compact" ...

In [52]:
# Summary of the data

summary(mpg)

     manufacturer    model               displ            year
 dodge     :37    Length:234         Min.   :1.600   Min.   :1999
 toyota    :34    Class :character   1st Qu.:2.400   1st Qu.:1999
 volkswagen:27    Mode  :character   Median :3.300   Median :2004
 ford      :25                       Mean   :3.472   Mean   :2004
 chevrolet :19                       3rd Qu.:4.600   3rd Qu.:2008
 audi      :18                       Max.   :7.000   Max.   :2008
 (Other)   :74
      cyl           trans               drv                 cty
 Min.   :4.000   Length:234         Length:234         Min.   : 9.00
 1st Qu.:4.000   Class :character   Class :character   1st Qu.:14.00
 Median :6.000   Mode  :character   Mode  :character   Median :17.00
 Mean   :5.889                                         Mean   :16.86
 3rd Qu.:8.000                                         3rd Qu.:19.00
 Max.   :8.000                                         Max.   :35.00

      hwy             fl               class
 Min.   :12.00   Length:234         Length:234
 1st Qu.:18.00   Class :character   Class :character
 Median :24.00   Mode  :character   Mode  :character
 Mean   :23.44
 3rd Qu.:27.00
 Max.   :44.00

In [63]:
# factorized the categorical variables
mpg$manufacturer <- factor(mpg$manufacturer)
mpg$model <- factor(mpg$model)
mpg$trans <- factor(mpg$trans)
mpg$drv <- factor(mpg$drv)
mpg$cty <- factor(mpg$cty)
mpg$fl <- factor(mpg$fl)
mpg$class <- factor(mpg$class)

In [64]:
# Summary of the data

summary(mpg)

     manufacturer                 model         displ            year
 dodge     :37    caravan 2wd        : 11   Min.   :1.600   Min.   :1999
 toyota    :34    ram 1500 pickup 4wd: 10   1st Qu.:2.400   1st Qu.:1999
 volkswagen:27    civic              :  9   Median :3.300   Median :2004
 ford      :25    dakota pickup 4wd  :  9   Mean   :3.472   Mean   :2004
 chevrolet :19    jetta              :  9   3rd Qu.:4.600   3rd Qu.:2008
 audi      :18    mustang            :  9   Max.   :7.000   Max.   :2008
 (Other)   :74    (Other)            :177
      cyl               trans    drv          cty           hwy        fl
 Min.   :4.000   auto(l4)  :83   4:103   18     : 26   Min.   :12.00   c:  1
 1st Qu.:4.000   manual(m5):58   f:106   15     : 24   1st Qu.:18.00   d:  5
 Median :6.000   auto(l5)  :39   r: 25   21     : 23   Median :24.00   e:  8
 Mean   :5.889   manual(m6):19           13     : 21   Mean   :23.44   p: 52
 3rd Qu.:8.000   auto(s6)  :16           11     : 20   3rd Qu.:27.00   r:168
 Max.   :8.000   auto(l6)  : 6           19     : 20   Max.   :44.00
                 (Other)   :13           (Other):100
        class
 2seater   : 5
 compact   :47
 midsize   :41
 minivan   :11
 pickup    :33
 subcompact:35
 suv       :62

In [65]:
# class of the dataset

class(mpg)

[1] "tbl_df"     "tbl"        "data.frame"

In [66]:
# convert to dataframe -- will solve so many issues

mpg.df <- as.data.frame(mpg)

In [67]:
# check for missing datapoints

mpg.df[!complete.cases(mpg.df),]

     manufacturer model displ year cyl trans drv cty hwy fl class

In [68]:
# if we want to create new dataset without missing data

# mpg.df <- na.omit(mpg.df)

In [69]:
# Finally, what does each of the columns represent

?mpg

In [70]:
# usually we don't know how many items we have in a datset so we can do something like

length(unique(mpg.df$model))

# or.... let's do some visualizations

[1] 38

Disclaimer: not doing any data cleaning or feature engineering for this workshop

Resource for Fast Exploratory Analysis: https://towardsdatascience.com/simple-fast-exploratory-data-analysis-in-r-with-dataexplorer-package-e055348d9619